<!DOCTYPE html>
<html>
<head>
	<title>Chat en temps réel avec socket.io</title>
</head>
<body>
<ul>
		<li><a href="/register">register</a></li>
		<li><a href="/login">login</a></li>
</ul>
</body>
</html>